.recent-work{
    background-color: #111430;
    color: white;
    padding: 50px 10px;
}
.slick-dots li.slick-active button::before{
    opacity: .9;
    color: #FBD062;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #FBD062;
    -webkit-font-smoothing: antialiased;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: #fbd062;
    -webkit-font-smoothing: antialiased;
}