body{
  font-family: 'Poppins', sans-serif;

}
.default-btn{
  background-color: #111430;
  opacity: 0.9;
  color: white!important;
  padding: 6px 20px!important;
  display: inline!important;
  border-radius: 5px;
}
.brand-text{
  color: #7AB259;
}

.section h2::after{
  content: '';
  background:  #7AB259;
  display: block;
  height: 5px;
  width: 200px;
  margin: 20px auto 5px;
}