.default-btn{
  background-color: #111430;
  opacity: 0.9;
  color: white!important;
  padding: 6px 20px!important;
  display: inline!important;
  border-radius: 5px;
}
.brand-text{
  color: #7AB259;
}